@import url("./fonts.css");
@import url("../bootstrap-5.3.2/css/bootstrap.min.css");
@import url("../FontAwesome.Pro-6.4.2/css/all.css");
@import url("../swiper-slide-11.0.5/swiper-bundle.min.css");
:root {
  --color-red: #ff0707;
  --color-red-2: #c7361f;
  --color-green: #169410;
  --color-green-2: #0bc802;
  --color-blue: #374df5;
  --color-yellow: #fbe202;
  --color-text: #062718;
  --color-text-88: #888888;
  --color-text-66: #666666;
  --gutter: 8px;
}

.text-red {
  color: var(--color-red);
}

.text-red-2 {
  color: var(--color-red-2);
}

.text-66 {
  color: var(--color-text-88);
}

.text-88 {
  color: var(--color-text-88);
}

.text-green {
  color: var(--color-green);
}

.bg-red-2 {
  background: var(--color-red-2) !important;
}

body {
  font-family: "Mulish";
  font-size: 13px;
  overflow-x: hidden;
  color: var(--color-text);
  background: #000;
}

a {
  text-decoration: none;
}

.btn-icon {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  margin-left: 8px;
  color: var(--color-green);
}

.container-main {
  max-width: 820px;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

.sports-wrapper {
  background: url("../images/wrapper-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
}

.header.fixed-top {
  background: #000000;
  padding: 0 8px;
}

.header-top {
  display: flex;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 12px;
}

.header-top .logo {
  width: fit-content;
  flex-shrink: 0;
  margin-right: 24px;
}

.header-top .logo img {
  height: 40px;
}

.header-top .search {
  flex: 1;
}

.header-top .search .search-wrap {
  width: 100%;
  position: relative;
  display: flex;
  height: 32px;
  border: solid 1px var(--color-green);
  border-radius: 4px;
}

.header-top .search .search-wrap input {
  width: 100%;
  border: none;
  background: transparent;
  color: #fff;
  padding: 0 13px;
}

.header-top .search .search-wrap input:focus-visible {
  outline: none;
}

.header-top .search .search-wrap button {
  background: transparent;
  border: none;
  border-radius: 4px;
  color: var(--color-green);
  font-size: 15px;
  padding: 0 8px;
}

.header-top .calendar-btn {
  color: var(--color-green);
  margin-left: 19px;
  font-size: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-top .calendar-btn span {
  font-size: 11px;
  position: absolute;
  top: 7px;
}

.menu-more-content {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  max-width: 820px;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s;
}

.menu-more-content.show {
  top: 0;
}

.menu-more-content .head {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  padding: 0 10px;
  font-size: 15px;
  border-bottom: solid 1px rgba(225, 225, 225, 0.2);
}

.menu-more-close {
  font-size: 20px;
}

.menu-more-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: calc(100% - 55px);
}

.menu-more-list .menu-more-item .menu-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 8px;
  color: #fff;
  font-size: 14px;
}

.menu-more-list .menu-more-item .menu-link .label {
  display: flex;
  align-items: center;
}

.menu-more-list .menu-more-item .menu-link .label i {
  margin-right: 5px;
}

.menu-main {
  display: flex;
  align-items: center;
  background: #000000;
  margin-left: -8px;
  padding-right: -8px;
  width: calc(100% + var(--gutter) * 2);
  justify-content: space-between;
}

.menu-item {
  display: flex;
  justify-content: center;
  padding: 10px var(--gutter);
}

.menu-item .menu-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: rgba(225, 225, 225, 0.7);
  font-weight: 500;
  font-size: 14px;
}

.menu-item .menu-link i {
  font-size: 18px;
}

.menu-item.active .menu-link {
  color: var(--color-green-2);
  font-weight: 800;
}

.home-page-intro {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 500;
  color: rgba(225, 225, 225, 0.5);
}

.page-content-head {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.page-content-head .btn-all {
  background: #fff;
  height: 28px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  color: var(--color-green);
  font-size: 15px;
  font-weight: 700;
  padding: 0 17px;
  margin-right: 10px;
  border: none;
}

.page-content-head .btn-all.active {
  background: var(--color-green);
  color: #fff;
}

.page-content-head .btn-live {
  height: 28px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  color: var(--color-red);
  font-size: 15px;
  font-weight: 700;
  padding: 0 10px;
  border: none;
}

.page-content-head .btn-live.active {
  background: var(--color-red);
  color: #fff;
}

.page-content-head .show-odds {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #fff;
  font-weight: 500;
}

.page-content-head .show-odds .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  margin-left: 8px;
}

.page-content-head .show-odds .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.page-content-head .show-odds .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.page-content-head .show-odds .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.page-content-head .show-odds input:checked + .slider {
  background-color: var(--color-green);
}

.page-content-head .show-odds input:focus + .slider {
  box-shadow: 0 0 1px var(--color-green);
}

.page-content-head .show-odds input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */

.page-content-head .show-odds .slider.round {
  border-radius: 34px;
}

.page-content-head .show-odds .slider.round:before {
  border-radius: 50%;
}

.tour-box {
  background: #fff;
  border-radius: 6px;
  margin-bottom: 6px;
  overflow: hidden;
}

.pinned-title {
  color: var(--color-green);
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  border-bottom: solid 1px #e1e1e1;
}

.tour .tour-head {
  display: flex;
  height: 55px;
  align-items: center;
  padding: 0 10px;
}

.pinned .tour .tour-head {
  border-left: solid 4px var(--color-green);
}

.tour .tour-head .tour-logo {
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.tour .tour-head .tour-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.tour .tour-head .pin {
  width: fit-content;
  flex-shrink: 0;
  margin-left: 8px;
}

.tour .tour-head .pin .btn {
  font-size: 16px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: var(--color-green);
}

.tour.has-pin .tour-head .pin .btn i {
  font-weight: 700;
}

.tour .tour-head .tour-desc {
  flex: 1;
  padding-left: 16px;
}

.tour .tour-head .tour-desc .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tour .tour-head .tour-desc .top .tour-name {
  color: var(--color-text-88);
}

.tour .tour-head .tour-desc .top .ratting-label {
  color: var(--color-green);
}

.tour .tour-head .tour-desc .bottom {
  font-weight: 600;
  color: #062718;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  background: transparent;
  width: auto;
  margin: 0;
}

.tour .match {
  display: flex;
  height: 54px;
  padding-right: 10px;
  align-items: center;
}

.tour .match:hover,
.tour .match:nth-child(odd):hover {
  background: rgba(0, 0, 0, 0.1);
}

.tour .match:nth-child(odd) {
  background: #f4f4f4;
}

.tour .match .time {
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-style: 12px;
  line-height: 15px;
  color: var(--color-text-66);
}

.tour .match .confrontation {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tour .match .confrontation .club {
  display: flex;
  align-items: center;
}

.tour .match .confrontation .club:first-child {
  margin-bottom: 5px;
}

.tour .match .confrontation .club-logo {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.tour .match .confrontation .club-logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.tour .match .confrontation .club-name {
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--color-text-66);
}

.tour .match .confrontation .club.win .club-name {
  color: var(--color-text);
}

.tour .match .confrontation .club-name .name {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tour .match .confrontation .cards {
  display: flex;
  flex-direction: row;
}

.red-card {
  background: #c7361f;
  width: 8px;
  height: 12px;
  margin-left: 5px;
}

.yellow-card {
  background: #fbe202;
  width: 8px;
  height: 12px;
  margin-left: 5px;
}

.tour .match .odds {
  display: flex;
  width: fit-content;
  align-items: center;
}

.tour .match .odds .odds-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin-left: 8px;
  line-height: 16px;
  color: var(--color-text-66);
  font-weight: 500;
}

.tour .match .odds .odds-item .ratio {
  height: 17px;
  border-radius: 2px;
  border: solid 1px #e1e1e1;
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding: 0 4px;
  color: var(--color-text);
}

.tour .match .odds .odds-item.active .ratio {
  border-color: var(--color-green);
  color: var(--color-green);
}

.tour .match .score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text-66);
  font-weight: 500;
  line-height: 16px;
  margin-left: 10px;
}

.tour .match .score span:first-child {
  margin-bottom: 5px;
}

.tour .match .score span.win {
  color: var(--color-text);
}

.tour .match .noti .btn {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  margin-left: 8px;
  color: var(--color-green);
}

.tour .match .noti .noti-action {
  padding: 0;
  width: 150px;
}

.tour .match .noti .noti-action .item {
  display: flex;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  border-bottom: solid 1px #e1e1e1;
  padding: 8px;
  height: 50px;
}

.tour .match .noti .noti-action .item i {
  font-size: 16px;
  margin-right: 8px;
  color: var(--color-text-66);
}

.page-alert {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
}

.page-alert img {
  margin-right: 5px;
}

.download-app {
  background: #062a06;
  width: calc(100% + 16px);
  margin-left: -8px;
}

.download-app .label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.download-app .app-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.download-app .app-link a {
  padding: 0 5px;
}

.bottom {
  background: #062a06;
  width: calc(100% + 16px);
  margin-left: -8px;
}

.nav-bottom {
  display: flex;
  padding: 0 8px;
}

.nav-bottom a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 14px;
  text-decoration: none;
}

.nav-bottom .left {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.nav-bottom .right {
  width: 35%;
}

.copy-right {
  color: #fff;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.1);
  padding: 8px;
  text-align: center;
}

.page-content {
  padding-bottom: 56px;
}

.menu-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
  max-width: 820px;
  left: 50%;
  transform: translatex(-50%);
  z-index: 1;
  border-top: solid 1px #e1e1e1;
}

.menu-footer .menu-item .menu-link {
  color: var(--color-text-66);
}

.menu-footer .menu-item.active .menu-link {
  color: var(--color-green);
}

.tour .match.living .time span:nth-child(2) {
  color: var(--color-red);
}

.tour .match.living .score {
  color: var(--color-red);
}

.tour .match.living .time .blinker {
  animation: 1s ease-in 0s infinite normal none running blinker;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.tour .match.living .odds .odds-item .ratio {
  color: #f1c40f;
}

.breadcrumb-sp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.breadcrumb-list {
  display: inline-flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  flex: 1;
  overflow: hidden;
}

.breadcrumb-list .breadcrumb-item {
  flex: 0 0 auto;
  color: rgba(225, 225, 225, 0.5);
  font-size: 12px;
  font-weight: 500;
}

.breadcrumb-list .breadcrumb-item i {
  font-size: 10px;
  margin: 0 5px;
}

.breadcrumb-list .breadcrumb-item:last-child {
  flex: content;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: unset;
}

.breadcrumb-list .breadcrumb-item a {
  color: rgba(225, 225, 225, 0.5);
}

.breadcrumb-list .breadcrumb-item span {
  color: #fff;
}

.breadcrumb-item::before {
  content: none !important;
}

.breadcrumb-sp .btn {
  color: #fff;
}

.match-result-table {
  background: #fff;
  border-radius: 6px;
  padding: 14px 8px;
}

.match-result-table .confrontation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match-result-table .confrontation .club {
  display: flex;
  align-items: start;
  display: flex;
}

.match-result-table .confrontation .club .club-name {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.match-result-table .confrontation .club .logo {
  width: 44px;
  height: 44px;
  margin: 0 10px;
}

.match-result-table .confrontation .club .btn {
  margin: 0;
  margin-top: -6px;
}

.match-result-table .confrontation .club .logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.match-result-table .confrontation .club .name {
  font-weight: 600;
  color: #062718;
  line-height: 16px;
  margin-top: 5px;
  position: absolute;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  bottom: -20px;
  left: 0;
}

.match-result-table .confrontation .club:last-child .name {
  left: auto;
  right: 0;
}

.match-result-table .confrontation .score-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-result-table .confrontation .score-group .score {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-text-88);
  display: flex;
  align-items: center;
}

.match-result-table .confrontation .score-group .score .win {
  color: var(--color-green);
}

.match-result-table .confrontation .score-group .score .space {
  font-weight: 400;
  margin: 0 6px;
}

.match-result-table .confrontation .score-group .status {
  color: var(--color-text-88);
}

.match-result-table .meta {
  margin-top: 25px;
}

.match-result-table .meta .scored {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: center;
}

.match-result-table .meta .scored .club-scored {
  flex: 1;
  padding-top: 3px;
}

.match-result-table .meta .scored .club-scored .scored-name {
  text-align: right;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-text-88);
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.match-result-table .meta .scored .club-scored:last-child .scored-name {
  text-align: left;
}

.match-result-table .meta .scored .scored-space {
  background: #e1e1e1;
  width: 1px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.match-result-table .meta .scored .scored-space .icon {
  position: absolute;
  top: -25px;
  left: -6px;
}

.match-result-table .meta .scored .scored-space .icon i {
  font-size: 14px;
  color: var(--color-green);
}

.match-detail {
  background: #fff;
  width: calc(100% + 2 * var(--gutter));
  margin-left: calc(-1 * var(--gutter));
  margin-top: 15px;
}

.noti.pinned i {
  font-weight: 700;
}

.match-detail-nav {
  border-bottom: solid 1px #f1f1f1;
}

.match-nav-slider .match-nav-item {
  width: fit-content;
  padding: 10px 8px;
  font-size: 14px;
}

.match-nav-slider .match-nav-item span {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-text-66);
  position: relative;
}

.match-nav-slider .match-nav-item.swiper-slide-thumb-active span {
  color: var(--color-green);
  font-weight: 700;
}

.match-nav-slider .match-nav-item.swiper-slide-thumb-active span::before {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--color-green);
  position: absolute;
  bottom: -12px;
}

.match-content-item .tab-content-detail {
  padding: 12px var(--gutter);
}

.asian-handicap {
  border-radius: 4px;
  background: #f1f1f1;
}

.handicap-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.handicap-top .label {
  font-weight: 500;
  line-height: 16px;
}

.handicap-top a img {
  height: 11px;
}

.handicap-index {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
}

.handicap-index .item {
  flex: 1;
}

.handicap-index .item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 3px;
  color: var(--color-text-88);
  line-height: 16px;
  padding: 3px;
  font-size: 12px;
}

.handicap-index .item a .index {
  font-size: 13px;
  font-weight: 700;
  color: var(--color-text);
  display: flex;
  align-items: center;
}

.handicap-index .item a .index i {
  margin-right: 4px;
  font-size: 10px;
}

.handicap-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 7px;
  color: var(--color-text-88);
  font-size: 11px;
  line-height: 14px;
}

.handicap-bottom a {
  font-size: 12px;
  line-height: 15px;
  color: var(--color-blue);
}

.actack-progress {
  height: 50px;
}

.actack-progress .progress {
  height: 2px;
  border-radius: 0;
}

.actack-progress .progress .progress-bar {
  border-radius: 0;
  background: var(--color-green);
}

.actack-progress .club-event.away {
  width: calc(100% - 1px);
  margin-left: -5px;
  position: relative;
  height: 15px;
}

.actack-progress .club-event.home {
  width: calc(100% - 4px);
  margin-left: -5px;
  position: relative;
  height: 15px;
}

.actack-progress .club-event .cards .red-card {
  width: 100%;
  height: 100%;
  background: var(--color-red-2);
  display: block;
}

.actack-progress .club-event .cards .yellow-card {
  background: var(--color-yellow);
  width: 100%;
  height: 100%;
  display: block;
}

.actack-progress .club-event .cards {
  position: absolute;
  width: 7px;
  height: 10px;
}

.actack-progress .club-event .goad {
  position: absolute;
  font-size: 10px;
}

.actack-progress .club-event.home .goad {
  bottom: 4px;
  color: var(--color-green);
}

.actack-progress .club-event.home .goad::after {
  content: "";
  width: 1px;
  height: 4px;
  position: absolute;
  background: var(--color-green);
  bottom: -4px;
  left: 5px;
}

.actack-progress .club-event.home .cards::after {
  content: "";
  width: 1px;
  height: 4px;
  position: absolute;
  background: var(--color-green);
  bottom: -6px;
  left: 8px;
}

.actack-progress .club-event.home .cards {
  bottom: 6px;
}

.actack-progress .club-event.away .goad::after {
  content: "";
  width: 1px;
  height: 4px;
  position: absolute;
  background: var(--color-blue);
  top: -4px;
  left: 5px;
}

.actack-progress .club-event.away .cards::after {
  content: "";
  width: 1px;
  height: 4px;
  position: absolute;
  background: var(--color-blue);
  top: -6px;
  left: 8px;
}

.actack-progress .club-event.away .cards {
  top: 6px;
}

.actack-progress .club-event.away .goad {
  top: 4px;
  color: var(--color-blue);
}

.actack-progress .club-event.home .logo img {
  width: 16px;
  position: absolute;
  bottom: 15px;
  left: 5px;
}

.actack-progress .club-event.away .logo img {
  top: 15px;
  width: 16px;
  position: absolute;
  left: 5px;
}

.attack-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 18px;
}

.attack-head .label {
  font-size: 16px;
  font-weight: 700;
}

.attack-head a {
  color: var(--color-text-66);
}

.chat-box {
  width: calc(100% + 2 * var(--gutter));
  margin-left: calc(-1 * var(--gutter));
}

.chat-box .title {
  height: 38px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.chat-box .chat-content {
  padding: 0 15px;
}

.chat-content .chat-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-content .chat-time span {
  height: 24px;
  border-radius: 14px;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-text-88);
  padding: 0 10px;
  margin-top: 16px;
}

.chat-content .chat-item {
  margin-top: 16px;
}

.chat-content .chat-item .member {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-green);
}

.chat-content .chat-item .member .avatar {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  margin-right: 10px;
}

.chat-content .chat-item .chat-text {
  margin-left: 34px;
  color: #333333;
}

.chat-input {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 50px;
  height: 48px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.chat-input input {
  flex: 1;
  border: none;
  font-size: 14px;
  font-weight: 600;
  padding: 0 18px;
  border-radius: 10px;
}

.chat-input input:focus-visible {
  outline: none;
}

.chat-input .action {
  font-size: 18px;
  margin-right: 18px;
  color: var(--color-green);
}

.tab-content-squad {
  background: var(--color-green);
}

.tactic {
  padding-top: 10px;
}

.tactic-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 28px;
  background: #fff;
  border-radius: 90px;
  margin: 0 10px;
  padding: 0 10px;
}

.tactic-head .label {
  color: var(--color-green);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.tactic-head .label img {
  margin-right: 10px;
  flex-shrink: 0;
}

.tactic-head .label span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tactic-head a {
  font-size: 15px;
  color: var(--color-text-66);
  display: flex;
  align-items: center;
}

.player-position {
  text-align: center;
}

.player-position img {
  max-width: 100%;
}

.player-detail {
  background: #f1f1f1;
}

.player-detail .teams {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.player-detail .teams .team-name {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
  padding: 8px;
}

.player-detail .teams .team-name img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.player-detail .teams .team-name span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.player-detail .teams .team-name.active {
  opacity: 1;
  font-weight: 600;
}

.player-list {
  padding: 0 8px;
}

.player-item {
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 8px;
}

.player-item .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 9px;
}

.player-item .avatar img {
  max-width: 100%;
  min-width: 100%;
}

.player-item .info {
  display: flex;
  flex-direction: column;
}

.player-item .info .name {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.player-item .info .change {
  font-size: 12px;
  color: var(--color-text-88);
  margin-top: 2px;
  line-height: 15px;
  display: flex;
  align-items: center;
}

.player-item .point {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  margin-left: auto;
  flex-shrink: 0;
}

.player-item .info .change i {
  color: var(--color-green);
  margin-right: 7px;
}

.missing-player-label {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 24px;
  margin-bottom: 10px;
  padding: 0 8px;
}

.player-item .info .change.Doubtful,
.player-item .info .change.Doubtful i {
  color: var(--color-yellow);
}

.player-item .info .change.Out,
.player-item .info .change.Out i {
  color: var(--color-red-2);
}

.match-statical {
  background: #f1f1f1;
  padding: 15px 8px;
}

.match-statical-item {
  background: #fff;
  border-radius: 4px;
  padding: 10px 10px 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
}

.match-statical-item .label {
  font-weight: 500;
  text-align: center;
  line-height: 16px;
}

.match-statical-item .meta {
  display: flex;
  width: 100%;
  gap: 12px;
}

.match-statical-item .meta .left,
.match-statical-item .meta .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.match-statical-item .meta span {
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 4px;
  display: block;
}

.match-statical-item .meta .progress {
  height: 4px;
  background: #f1f1f1;
}

.match-statical-item .meta .progress .progress-bar {
  background: var(--color-green);
}

.match-statical-item .meta .right span {
  text-align: right;
}

.match-statical-item .meta .right .progress {
  display: flex;
  justify-content: end;
}

.match-statical-item .meta .progress.weaker .progress-bar {
  opacity: 0.5;
}

.match-shotmap {
  background: #fff;
  padding: 0 8px;
}

.match-shotmap-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.match-shotmap-title .label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-style: 16px;
  line-height: 20px;
  font-weight: 700;
}

.match-shotmap-title .icon {
  font-size: 10px;
  color: var(--color-green);
}

.player-shotmap {
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  height: 50px;
  border-radius: 90px;
  padding: 10px 12px;
}

.player-shotmap .player {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.player-shotmap .player .info {
  display: flex;
  align-items: center;
}

.player-shotmap .player .info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  flex-shrink: 0;
}

.player-shotmap .player-next,
.player-shotmap .player-prev {
  font-style: 12px;
  color: var(--color-green);
}

.player-shotmap-detail .index-item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.player-shotmap-detail .index-item .index-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-shotmap-detail .index-item .index-detail .label {
  font-size: 12px;
  line-height: 15px;
  color: var(--color-text-88);
}

.player-shotmap-detail .index-item .index-detail .index {
  font-size: 14px;
  line-height: 18px;
  font-weight: 800;
}

.shotmap-static img {
  width: 100%;
}

.match-shotmap-title.collapsed .icon {
  transform: rotate(180deg);
}

.tip-list {
  padding: 15px 8px;
  background: #f1f1f1;
}

.tip-item {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 8px;
}

.tip-item .tip-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.tip-item .tip-name .avatar {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 12px;
}

.tip-item .tip-view {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: var(--color-blue);
}

.tip-item .tip-view i {
  margin-left: 10px;
  font-size: 10px;
}

.login-wrap {
  display: flex;
  justify-content: center;
}

.login-content {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  margin: 8px 0;
  border-radius: 6px;
  min-height: calc(100vh - 195px);
}

.login-content .login-logo img {
  height: 100px;
}

.login-content .title {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

.register-form-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.register-form-item {
  width: 50%;
  color: #fff;
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.input-text {
  height: 38px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background: white;
  width: 100%;
}

.btn-base {
  border-color: var(--color-green);
  background: var(--color-green);
  color: #fff;
}

.btn-base:hover {
  border-color: var(--color-green-2);
  background: var(--color-green-2);
  color: #fff;
}

.input-text:focus {
  outline: none;
}

.register-form .btn {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  max-width: 400px;
  width: calc(100% - 20px) !important;
}

.form-checkbox-group {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-bottom: 32px;
  padding: 0 16px;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 10px;
}

/* Hide the browser's default checkbox */

.form-check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #adadad;
}

/* On mouse-over, add a grey background color */

.form-check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.form-check input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.form-check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.form-check .checkmark:after {
  left: 4px;
  top: 1px;
  width: 6px;
  height: 8px;
  border: solid white;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-checkbox-group a {
  color: #fff;
  text-decoration: underline;
}

.form-checkbox-group span {
  font-weight: 700;
  text-transform: uppercase;
}

.form-checkbox-group span span {
  color: #fff;
}

.acc-yet {
  color: #fff;
  text-align: center;
  margin-top: 32px;
}

.acc-yet a {
  color: #fff;
  text-decoration: underline;
}

.login-wrap.login .login-content {
  max-width: 500px;
  width: 100%;
}

.login-form {
  width: 100%;
}

.login-form .input-label-top {
  color: #fff;
  margin-bottom: 20px;
}

.login-form .input-label-top .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.login-form .input-label-top .label a {
  font-weight: 400;
  color: #fff;
  text-decoration: underline;
}

.modal .detail-content {
  padding: 10px 10px 20px;
}

.chat-content .chat-item .member span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin-left: 15px;
}

.calendar-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: end;
  justify-content: center;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all;
}

.calendar-wrap.show {
  opacity: 1;
  visibility: visible;
}

.calendar {
  background: #fff;
  width: 100%;
  max-width: 820px;
  border-radius: 6px 6px 0 0;
  position: relative;
  transition: all 0.3s;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 20px;
  bottom: -100%;
}

.calendar-wrap.show .calendar {
  bottom: 0;
}

.calendar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.calendar .info .btn {
  font-size: 20px;
  color: var(--color-green);
}

.calendar .date-name {
  background: var(--color-green);
  display: flex;
  align-items: center;
  color: #fff;
  padding: 5px 0;
  margin-bottom: 5px;
}

.calendar .day-name {
  width: calc(100% / 7);
  text-align: center;
}

.calendar .date-container {
  display: flex;
  flex-wrap: wrap;
}

.calendar .day {
  width: calc(100% / 7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
}

.calendar .day span {
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.calendar .day.istoday {
  color: #fff;
}

.calendar .day.istoday::before {
  background: var(--color-green);
  width: 30px;
  height: 30px;
  content: "";
  position: absolute;
  border-radius: 100%;
}

.btn-today,
.btn-today:hover {
  background: var(--color-green);
  margin-left: 15px;
  padding: 2px 15px 5px;
  margin-top: 15px;
  color: #fff;
}

.calendar .line-1 {
  height: 1px;
  width: 100%;
  background: #e1e1e1;
}
